.characteristics {
    width: 100%;
    padding: 10px;
    display: grid;
    /*  New Template Columns  */
    grid-template-columns: 0.1fr 3fr 0.5fr 0.3fr;
    border-radius: 5px;
  }
  
  .title {
    font-size: 40px;
  }

  .breed-image {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    width: auto;
  }

  .gallery {
    width: 400px;
    height: 400px;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
  }